.header img { vertical-align: middle; margin: 10px; }
.tool { float: left; width: 32px; height: 32px; margin: 5px; }
.tool img { width: 32px; height: 32px; }
.tools:after { clear: both; }

#node { clear: both; border-style: solid; background-color: lightgrey; }

input { margin: 5px; }
label { margin: 5px; }

.editor { clear: both; border-style: solid; background-image: url(../images/grid.gif); }

