body { font-family: 'Permanent Marker', cursive; }
.header img { vertical-align: middle; margin: 10px; }
.tool { float: left; width: 32px; height: 32px; margin: 5px; }
.tool img { width: 32px;  }
.tools:after { clear: both; }

#logo { width: 120px; height: 120px; }

#node:before { clear: both; }
#node { margin: 10px; padding: 10px; border-style: solid; background-color: lightgrey; float: left; position: absolute; top: 20em; left: 50em; }
#nodeattrs { margin: 10px; padding: 10px; border-style: solid; background-color: lightgrey; float: left; position: absolute; top: 20em; left: 35em; }

input { margin: 5px; }
label { margin: 5px; }

.editor { clear: both; border-style: solid; background-image: url(../images/grid.gif); min-width: 1200px; }

textarea { vertical-align: middle; }

#holder { padding: 5px; margin-bottom: 5px; width: 100px; border-style: dashed; background-color: lightgrey; opacity: 0.8; float: right; margin-right: 100px; }

